* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #1E1E1E;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    height: 100vh;
}

.logo-div {
    display: flex;
    flex-direction: column;
}

.logo-text {
    align-self: center;
    font-size: 25px;
    color: white
}


.logo-icon img {
    width: 15%;
    margin-bottom: -7%;
}

.data-hour {
    align-self: flex-end;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

nav {
    display: flex;
    align-items: center;
    height: 80px;

}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

.nav-items a {
    text-decoration: none;
    text-align: center;
    padding: 0 10px;
    font-size: 16px;
    color: white;
    align-self: flex-start;
}

.nav-items a:visited {
    text-decoration: none;
    color: white;
}

.temp-changer {
    margin-top: 5%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(51, 224, 23);
    background: linear-gradient(90deg, rgba(51, 224, 23, 1) 0%, rgba(149, 241, 134, 0) 100%);
    ;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    top: 2px;
    background-color: #181515;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.c-temp {
    color: white;
}

.f-temp {
    color: white;
}

.location-div {
    display: flex;
    justify-content: center;
}

input {
    height: 50px;
    width: 200px;
    font-size: 16px;
}

.weather-info {
    background-color: red;
    height: 270px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.location-name {
    background-color: greenyellow;
}

.temp-info {
    background-color: blueviolet;
    text-align: center;
}

.date {
    background-color: grey;
}

.weather-details {
    background-color: goldenrod;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.humidity {
    display: flex;
    flex-direction: column;
}

.visability {
    display: flex;
    flex-direction: column;
}

.air-pressure {
    display: flex;
    flex-direction: column;
}

.wind {
    display: flex;
    flex-direction: column;
}

@media (min-width: 890px) {
    .temp-changer {
        width: 283.28px;
        text-align: right;
    }
}

@media (min-width: 600px) {

    nav {
        height: 100px;
    }

    .logo-icon img {
        margin-bottom: -4%;
    }

    .logo-text {
        font-size: 45px;
    }

    .nav-items a {
        padding: 0 10px;
        font-size: 20px;
        color: white;
        align-self: flex-start;
    }

    .c-temp {
        font-size: 20px;
    }

    .f-temp {
        font-size: 20px;
    }

    .switch {
        width: 60px;
        height: 20px;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(30pc);
        -ms-transform: translateX(30px);
        transform: translateX(30px);
    }

    .weather-info {
        background-color: darkred;
        height: 270px;
        width: 520px;
    }

    .weather-div {
        display: flex;
        justify-content: center;
    }
}